target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
.bsp/
.metals/
.bloop/
.cache/
sbt-cache/
.history
*.class
*.log
/project/.boot/
/project/.sbtboot/
.dynoxide/
.idea/
.vscode/
.DS_Store
